.text1 {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text2 {
  color: #fd5956;
  font-size: 30px;
  font-family: "Poppins";
  font-weight: 600;
}

.job1 {
  font-family: "Poppins";
  font-weight: bold;
  font-size:42px;
}

.job2 {
  margin-top: -40px;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 60px;

  .dot {
    color: #fd5956;
    font-size: 80px;
  }
}

.sosmed {
  ul {
    display: flex;
    margin-top: 20px;

    li {
      margin-left: 30px;

      &:nth-child(1) {
        margin-left: 0px;
      }
    }
  }
}
