.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px 20px;
  background-color: white;
  color: #000;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  .logo {
    font-size: 20px;
    font-family: "Patrick Hand";
  }

  .nav-links {
    ul {
      list-style: none;
      display: flex;

      li {
        margin-right: 20px;
        padding: 2px;
        border-bottom: 3px solid transparent;
        cursor: pointer;
        font-size: 14px;
        font-family: "Poppins";

        &:hover {
          color: #fd5956;
          transition: border-bottom 0.3s ease-in-out;
          border-bottom: 3px solid #fd5956;
        }
      }
    }
  }

  .mobile-menu-button {
    display: none;
    flex-direction: column;
    cursor: pointer;

    .bar {
      height: 3px;
      width: 25px;
      background-color: white;
      margin: 5px 0;
    }
  }
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    margin-right: 100%; 
    transition: margin-right 0.3s ease-in-out;
    z-index: 999999;

    ul {
      flex-direction: column;
      background-color: white;
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.35);
      margin: 10px;
      padding: 10px;
      border-radius: 10px;

      li {
        margin-right: 0;
        margin-bottom: 10px;
        padding: 5px;
        font-family: "Poppins";
        font-weight: 400;
        border-bottom: 2px solid transparent;

        &:hover {
          transition: border-bottom 0.5s ease-in;
          font-weight: 600;
          color: #fd5956;
          border-bottom: 2px solid #fd5956;
        }
      }
    }
  }

  .mobile-menu-button {
    display: flex;
  }

  .mobile-menu-open { 
    margin-right: 0px; 
  }
}