@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.skill1 {
  font-size: 30px;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
}

.skill2 {
  font-size: 17px;
  font-family: "Patrick Hand";
}
